Source: sonic-sdi-sys-lib
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>

Build-Depends: debhelper (>= 9), autotools-dev, dh-exec
Standards-Version: 3.9.3
Package: sonic-sdi-sys-lib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},sonic-common-utils-lib(<<2.0.0),sonic-common-utils-lib(>=1.0.0),sonic-logging(<<2.0.0),sonic-logging(>=1.0.0),sonic-sdi-framework-lib(<<2.0.0),sonic-sdi-framework-lib(>=1.0.0)
Description: This package contains implementation of System Device Interface(SDI)

Package: sonic-sdi-sys-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},sonic-common-utils-dev(<<2.0.0),sonic-common-utils-dev(>=1.0.0),sonic-logging-dev(<<2.0.0),sonic-logging-dev(>=1.0.0),sonic-sdi-api-dev(<<2.0.0),sonic-sdi-api-dev(>=1.0.0),sonic-sdi-framework-dev(<<2.0.0),sonic-sdi-framework-dev(>=1.0.0),sonic-sdi-sys-lib(<<2.0.0),sonic-sdi-sys-lib(>=1.0.0)
Description: This package contains implementation of System Device Interface(SDI)

